<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaoshasha.order.mapper.OrderSendMapper">
  <resultMap id="BaseResultMap" type="com.miaoshasha.common.entity.order.OrderSend">

    <id column="pid" jdbcType="BIGINT" property="pid" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="address_id" jdbcType="BIGINT" property="addressId" />
    <result column="delivery_date" jdbcType="DATE" property="deliveryDate" />
    <result column="express" jdbcType="VARCHAR" property="express" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
  </resultMap>

  <sql id="Base_Column_List">

    pid, order_id, address_id, delivery_date, express, express_no, create_time, create_user
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from order_send
    where pid = #{pid,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

    delete from order_send
    where pid = #{pid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.miaoshasha.common.entity.order.OrderSend" useGeneratedKeys="true" keyProperty="pid">

    insert into order_send ( order_id, address_id,
      delivery_date, express, express_no, 
      create_time, create_user)
    values (#{orderId,jdbcType=BIGINT}, #{addressId,jdbcType=BIGINT},
      #{deliveryDate,jdbcType=DATE}, #{express,jdbcType=VARCHAR}, #{expressNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.miaoshasha.common.entity.order.OrderSend" useGeneratedKeys="true" keyProperty="pid">

    insert into order_send
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="orderId != null">
        order_id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="express != null">
        express,
      </if>
      <if test="expressNo != null">
        express_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="express != null">
        #{express,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null">
        #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.miaoshasha.common.entity.order.OrderSend">

    update order_send
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="express != null">
        express = #{express,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null">
        express_no = #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where pid = #{pid,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.miaoshasha.common.entity.order.OrderSend">

    update order_send
    set order_id = #{orderId,jdbcType=BIGINT},
      address_id = #{addressId,jdbcType=BIGINT},
      delivery_date = #{deliveryDate,jdbcType=DATE},
      express = #{express,jdbcType=VARCHAR},
      express_no = #{expressNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT}
    where pid = #{pid,jdbcType=BIGINT}
  </update>
</mapper>