<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="mssdb" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="1qaz!QAZ" />
        <option name="url" value="59.110.159.115:3306" />
        <option name="userName" value="root" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="mssdb" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="1qaz!QAZ" />
          <option name="url" value="59.110.159.115:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
      </list>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.miaoshasha.gateway.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/mss-modules-parent/mss-gateway-service/src/main/java" />
        <option name="javaModelPackage" value="com.miaoshasha.common.entity.system" />
        <option name="javaModelPath" value="D:\workspace-github-mss\mss-project\mss-commons-parent\mss-common-entity\src\main\java\com\miaoshasha\common\entity\system" />
        <option name="lastDatabaseCrudChooseModuleName" value="mss-gateway-service" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="mss-gateway-service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.miaoshasha.gateway.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/mss-modules-parent/mss-gateway-service/src/main/java" />
                  <option name="javaModelPacakge" value="com.miaoshasha.common.entity.system" />
                  <option name="javaModelPath" value="D:\workspace-github-mss\mss-project\mss-commons-parent\mss-common-entity\src\main\java\com\miaoshasha\common\entity\system" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/mss-modules-parent/mss-gateway-service/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="mssdb:base_zuul_api_limiter">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="BaseZuulApiLimiter" />
                  <option name="moduleName" value="mss-gateway-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mssdb:base_zuul_route">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="BaseZuulRoute" />
                  <option name="moduleName" value="mss-gateway-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/mss-modules-parent/mss-gateway-service/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>